/* HEADER */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto+Slab&display=swap');

* {
    /* box sizing includes the padding and border in an element's
    height and width. */
    box-sizing: border-box;
}

body, html {
    margin: 0;
    min-height: 150vh;
    min-width: 100vw;
}

.headerBar {
    width: 100vw;
    background-color: #212529;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: 1s;
}

.goClear {
    background-color: transparent;
}

.logo {
    color: yellow;
    margin-left: 20px;
    font-family: 'Kaushan Script', cursive;
}

.nav-link {
    color: #ffffff;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}
.nav {
    margin-right: 20px;
}

.navs {
    margin-right: 20px;
}

span {
    cursor: pointer;
    opacity: .99;
}
#dropSpanLAst {
    margin-bottom: 20px;
}

.hide {
    height: 0;
    overflow: hidden;
}

i {
    display: none !important;
    color: yellow;
    margin: 0 1.2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    max-width: 1200px;
}

.dropdown {
    background-color: #212529;
    height: 145px;
    /* width: 100vw; */
    transition: .4s;
}

/* For the container child of dropdown, align the items to the left on
the menu in a column. */
.dropdown > .container {
    color: #ffffff;
    flex-direction: column;
    align-items: flex-start;
}


/* ^HEADER^ */

@media (min-width: 1000px) {
    .dropdown {
        height: 0;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 800px;
    }
    i {
        display: inline-block !important;
    }
    nav > span {
        display: none;
    }
}
/*  Body */
.heroImage {
    background-image: url('https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1061&q=80');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.hero-lead {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Sans Serif'
}
/* ^Body^ */
